/**{
  border:1px solid red;
}*/
a{
  text-decoration: none;
}

.round {
  border-radius: 50%;
  width:125px;
  height:125px;
  font-size: 200%;
  margin:10px;
  
}

.start{
  margin-top:50px;
  width:175px;

  margin-left:auto;
  margin-right:auto;
}

.start button{
  font-size: 200% !important;
}

.selection button{
  margin:auto !important;
}
.title{
  color: red;
  text-align: center;
  border: 1px solid;
  border-color: black;

}
.name{
  color: blue;
  text-align: center;
}

.attr{
  height: 200px;
  padding: 150px;
  text-align: center;
  
}
.btn{
  text-align: center;
  
}

.stats{
  list-style: none;
}

.stats li{
  float:left;
  width:40px;
  height:40px;
  border:1px solid #aaa;
  border-radius: 50%;
  font-size: 18px;
  padding:6px 0 0 14px;
  margin:0 5px;
}

.stats .active{
  background-color:blue;
}
